.menuCont{
    text-align: right;
   :global{
        .ant-menu-item, .ant-menu-submenu{
            line-height: 63px;
        }
        .ant-menu-submenu-selected{
            color: #1890ff;
        }
   }
}